body {
  margin: 0;
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
/* Header section */
header {
  background-color: coral;
  display: flex;
  padding: 20px;
  align-items: center;
}
.logo {
  width: 100px;
  height: 100px;
}
nav {
  display: flex;
  width: 800px;
  justify-content: space-around;
}
nav a {
  font-size: 22px;
  color: white;
  transition: 0.3s;
  font-weight: 600;
}
nav a:hover {
  text-shadow: 0px 0px 15px black, 0px 0px 5px black;
  transform: scale(1.1) translateY(-4px);
}

main h1 {
  color: rgb(118, 34, 4);
  margin-left: 350px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.catalog {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1200px;
  border-radius: 10px;
}

.card {
  height: 520px;
  width: 350px;
  text-align: center;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 15px;
  font-size: 20px;
  margin: 25px;
  box-shadow: inset 0px 0px 5px 0px lightgray;
  cursor: pointer;
}

.card img {
  height: 400px;
  width: 300px;
}

.price {
  color: red;
  text-shadow: 0px 0px 20px orange;
}

.side-nav {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0px;
  background-color: coral;
  width: 300px;
  display: flex;
  justify-content: center;
}

.side-nav-text {
  margin-top: 139px;
  height: 100%;
  width: 260px;
  background-color: bisque;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.side-nav-text a{
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}
